// variables
$red-box: #ff3f34;
$blue-box: #273c75;
$green-box: #6ab04c;

// Extends
%container {
  width: 88%;
  height: 95%;
  opacity: 0.3;
  margin: auto;
  display: flex;
  align-items: center;

  @media (max-width: 1200px){
    width: 95%;
  }

  @media (max-width: 950px){
    width: 95%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $text-color;
}
  
.bg-image-red {
  @extend %container;
  background-color: $red-box;
  height: 94vh;
  width: 60%;
  position: absolute;
  top: 3vh;
  left: 20%;

  @media (max-width: 950px){
    width: 80%;
    left: 10%;
  }

  @media (max-width: 700px){
    display: none;
  }
}
  
.bg-image-blue {
  @extend %container;
  background-color: $blue-box;
  opacity: 0.6;
}

.bg-image-green {
  @extend %container;
  background-color: $green-box;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
}