// variables
$square-background: #fff;
$square-border: #999;
$text-color: rgb(53, 53, 53);

.board-row {
    display: flex;
  }
  
  .status {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .square {
    background: $square-background;
    border: 1px solid $square-border;
    font-size: 2.5rem;
    height: 3rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 3rem;
    color: $text-color; 
  }