* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$text-color:rgb(37, 37, 37);
$basic-font: "Century Gothic", Futura, sans-serif;

body {
  font-family: $basic-font;
  min-height: 100vh;
  position: relative;
  color: $text-color;
}

ol,
ul {
  padding-left: 30%;
}

button {
  cursor: pointer;
}

@import './board';
@import './game';
@import './backgrounds';